#data_ss {
    left: 309px;
    top: 64px;
}

#data_tp {
    left: 184px;
    top: 24px;
}

#data_po {
    left: 240px;
    top: 94px;
}

#data_mq {
    left: 114px;
    top: 123px;
}

#data_lg {
    left: 207px;
    top: 172px;
}

#data_ku {
    left: 174px;
    top: 257px;
}

#data_ws {
    left: 69px;
    top: 288px;
}

#data_zn {
    left: 267px;
    top: 343px;
}

#data_yu {
    left: 315px;
    top: 192px;
}

#data_bm {
    left: 4px;
    top: 209px;
}

#data_ay {
    left: 77px;
    top: 349px;
}

#data_dc {
    left: 180px;
    top: 375px;
}
