#sign_ss {
    left: 294px;
    top: 49px;
}

#sign_tp {
    left: 254px;
    top: 49px;
}

#sign_po {
    left: 225px;
    top: 79px;
}

#sign_mq {
    left: 184px;
    top: 148px;
}

#sign_lg {
    left: 192px;
    top: 157px;
}

#sign_ku {
    left: 159px;
    top: 242px;
}

#sign_ws {
    left: 139px;
    top: 313px;
}

#sign_zn {
    left: 252px;
    top: 328px;
}

#sign_yu {
    left: 300px;
    top: 177px;
}

#sign_bm {
    left: 74px;
    top: 234px;
}

#sign_ay {
    left: 147px;
    top: 334px;
}

#sign_dc {
    left: 165px;
    top: 360px;
}
